.root {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.card {
  background: #ffffff;
  padding: 1.5rem; // 24px with 16px default font-size

  display: flex;
  flex-direction: column;
}

.card .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.75rem;
}

.card .row .item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.card .row .item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.card .row .item {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gap {
  margin-bottom: 0.75rem; // 12px with 16px default font-size
}

.lastVisit {
  
  margin-bottom: 1.5rem;
}
