@value mediaBreakpoint: 940px;
@value desk from './colors';

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;

  overflow-y: auto;

  background: desk;
}

:global .media {
  max-width: mediaBreakpoint;
  padding-left: 1.5rem; // 24px with 16px default font-size
  padding-right: 1.5rem; // 24px with 16px default font-size
}

@media (max-width: mediaBreakpoint) {
  :global .media {
    width: 100%;
  }
}

@media (min-width: mediaBreakpoint) {
  :global .media {
    width: mediaBreakpoint;
  }
}

:global .noSelect {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}