@value primary, onPrimary from 'ember-pixels2rem/styles/colors';
@value secondary from 'ember-pixels2rem/styles/colors';

.root {
  height: 4.5rem; // 72px with 16px default font-size
  background: primary;
  color: onPrimary;

  border-bottom: 4px solid secondary;
  

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand {
  font-size: 1.5rem; // 24px with 16px default font-size
  font-weight: 500;
  cursor: pointer;
}